# Local SQLite database path
SQLITE_DB_PATH=./data/timeplan.sqlite

#port number
PORT=7778



Website_URL=http://localhost:7777

Redirect_URL=http://localhost:5000/auth/check-auth

GOOGLE_CLIENT_ID=1064044876747-ceovin2gs2hi1cbr7023dkokfg9rp13t.apps.googleusercontent.com

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_ENVIRONMENT=sandbox

# JWT
ACCESS_SECRET=secret
# JWT Refresh Token Secret
REFRESH_SECRET=refreshsecret
# Number of minutes after which an access token expires
ACCESS_EXPIRES_IN=30000
# Number of days after which a refresh token expires
REFRESH_EXPIRES_IN=30
# Number of minutes after which a reset password token expires
RESET_PASSWORD_EXPIRES_IN=10
# Number of minutes after which a verify email token expires
VERIFY_EMAIL_EXPIRES_IN=10


# AWS
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# LLM platform
platform=deepseek

#DeepSeek
DEEPSEEK_API_KEY=

# GPT
OPENAI_API_KEY=

# Github
GITHUB_TOKEN=
